
.Button {
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonSelected {
    color: white !important;
    background-color: #EE0079;
}