.tag{
    background-color: rgb(90, 255, 90);
    color: black;
    width:100px;
    height: 30px;
    text-align: center;
    font-family: 'Sen', sans-serif;
    border-radius: 20px;
    margin:5px;
    font-weight: 300;
    font-size:17px;
    line-height:30px;
    text-align: center;
}
